

#constantpage {
  background-color: #cce6ff;
  display: flex;
  flex-direction: column;
  height: 90vh;
  width: 100vw;
}

#centerbar {
  width: 10%;
  height: 80%;
  margin: 20px;
  background-color: rgb(72, 72, 244);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 20px;
}

.centerButton {
  text-align: center;
  width: 60%;
  height: 20%;
  background-color: lightblue;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s;
}

.centerButton:hover {
  background-color: darkblue;
}

#HMDStream, #RoverStream {
  width: 50%;
  height: 100%;
}

#EV, #ConstantMap, #UIADCU {
  height: 100%;
}

#EV {
  width: 33.333%;
}

#ConstantMap, #UIADCU {
  width: 33.333%;
}

#topbar {
  height: 100%;
  width: 100%;
  max-height: 7vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center; /* Center vertically */
  color: white;
}

.status-indicator {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
  height: 50px;
  width: 10%;
  margin: 5px;
  text-align: center;
  line-height: 25px;
  color: black;
  border-radius: 5px;
  font-size: 14px;
  background-color: #555;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s;
}

.status-indicator.red {
  background-color: red;
}

.status-indicator.yellow {
  background-color: yellow;
  color: black;
}

.status-indicator.green {
  background-color: green;
  color: black;
}

.status-indicator span {
  display: block;
  font-size: 0.8em;
}

.timestamp {
  margin-left: 10px;
  font-size: 18px;
  color: black;
}

.top-half {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 30vh;
  margin-bottom: 20px;
}

.bottom-half {
  display: flex;
  width: calc(100% - 20px);
  height: calc(53% - 20px);
  margin: 10px;
}

.ev-container {
  padding: 10px;
  background-color: #f0f8ff; /* Light blue-ish background */
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.ev-table-container {
  width: 100%;
  height: 100%;
  overflow: auto;
}

.ev-table {
  width: 100%;
  border-collapse: collapse;
}

.ev-table th,
.ev-table td {
  font-size: small;
  border: 1px solid #ddd;
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: center;
  box-sizing: border-box;
}

.ev-table th {
  background-color: darkblue;
  color: white;
}

.ev-table tr:nth-child(even) {
  background-color: #e6f2ff; /* Light blue background for even rows */
}

.ev-table tr:hover {
  background-color: #cce6ff; /* Slightly darker light blue for hover */
}

.modal {
  display: none;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
  justify-content: center;
  align-items: center;
}

.modal-content {
  align-items: center;
  justify-content: center;
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  min-height: 40%;
  width: 30%;
  max-width: 80%;
  border-radius: 8px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  position: relative;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
