/* ingressegress.css */

/* Define CSS variables for colors */
:root {
  --background-color: #f8f9fa;
  --column-background-color: #ffffff;
  --left-column-background-color: #007bff;
  --right-column-background-color: #80bdff;
  --shadow-color: rgba(0, 0, 0, 0.1);
  --primary-color: #007bff;
  --primary-hover-color: #0056b3;
  --text-color-main: #343a40;
  --text-color-secondary: #495057;
  --border-color: #ced4da;
  --select-border-color: #ccc;
  --select-focus-border-color: #007bff;
}

.ingressegress-container {
  height: 90vh;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: var(--background-color);
  border-radius: 10px;
  box-shadow: 0 4px 6px var(--shadow-color);
}

.left-column, .right-column {
  margin: 10px;
  padding: 20px;
  background-color: var(--column-background-color);
  border-radius: 10px;
  box-shadow: 0 4px 6px var(--shadow-color);
  display: flex;
  flex-direction: column;
}

.left-column {
  flex-basis: 60%; /* Take up 60% of the container's width */
  justify-content: center;
  align-items: center;
  background-color: var(--left-column-background-color);
}

.right-column {
  flex-basis: 40%; /* Take up 40% of the container's width */
  align-items: center;
  justify-content: space-between;
  background-color: var(--right-column-background-color);
  overflow: hidden; /* Prevent the right column from scrolling */
}

.left-column h1 {
  font-size: 24px;
  margin-bottom: 20px;
  color: var(--text-color-main);
}

.left-column img {
  width: auto;
  max-width: 100%;
  max-height: 70vh;
  border-radius: 10px;
}

.right-column h2 {
  font-size: 20px;
  margin-bottom: 10px;
  color: var(--text-color-secondary);
}

.ProcedureList {
  flex: 1;
  overflow-y: auto; /* Enable vertical scrolling for the ProcedureList */
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  font-size: 16px; /* Set an initial font size */
}

.select-container {
  margin-bottom: 10px;
}

.select-container select {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid var(--select-border-color);
  border-radius: 4px;
  box-sizing: border-box;
}

.select-container select:focus {
  outline: none;
  border-color: var(--select-focus-border-color);
}

.ProcedureItem {
  display: flex;
  flex-direction: column;
  width: 100%; /* Ensure ProcedureItem spans the entire width */
  margin-bottom: 20px; /* Add margin to separate ProcedureItems */
}

.procedureDescription {
  padding: 20px; /* Add padding to the description for better readability */
  flex-grow: 1; /* Allow description to grow to fill available space */
  margin: 0;
}

.navigation-buttons {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: auto; /* Push buttons to the bottom */
}

.navigation-buttons button {
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  background-color: var(--primary-color);
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-right: 10px; /* Add margin between buttons */
}

.navigation-buttons button:hover {
  background-color: var(--primary-hover-color);
}

@media (max-width: 768px) {
  .ingressegress-container {
    flex-direction: column;
  }

  .left-column, .right-column {
    margin: 10px 0;
    flex-basis: auto;
  }
}
