.ingressegress-container {
  display: flex;
}

.left-column {
  flex: 3;
  padding: 20px;
  background-color: #f0f0f0;
}

.right-column {
  flex: 1;
  padding: 20px;
  background-color: #e0e0e0;
  max-height: 400px; /* Set a maximum height for the right column */
  overflow-y: auto; /* Enable vertical scrolling if content exceeds the maximum height */
  position: relative; /* Add this to enable absolute positioning for children */
}

.select-container {
  margin-bottom: 10px;
}

.select-container select {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.select-container select:focus {
  outline: none;
  border-color: #007bff;
}

.navigation-buttons {
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 20px;
  width: calc(100% - 40px); /* Adjust width to match padding */
}
