.rocks-container {
    display: flex;
    height: 90vh;
    width: 100vw;
    background-color: #cce6ff;
  }
  
  .left-section {
    width: 60%;
    display: flex;
    flex-direction: column;
  }
  
  .top-div, .bottom-div {
    height: 50%;
    padding: 20px;
    background-color: #f0f8ff; /* Light blue background */
    border-radius: 10px;
    margin: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .right-section {
    width: 40%;
    padding: 20px;
    background-color: rgb(72, 72, 244); /* Blue background */
    border-radius: 10px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  