.page-container {
  display: grid;
  height: 90vh;
  width: 100vw;
}


.header-rover {
  text-align: center;
  padding: 20px;
  background-color: #f8f9fa;
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
}

.content-rover {
  display: grid;
  grid-template-columns: 60% 40%;
  height: 100%;
}

.left-column-rover {
  display: flex;
  border-right: 1px solid #ddd;
}

.rover-cam-container,
.map-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eef;
  overflow: hidden;
}

.map-container {
  flex: 1;
}

.rover-cam-container {
  width: 100%;
}

#rovMap {
  width: 100%;
  height: 100%;
}

.right-column-rover {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #f8f9fa;
  overflow-y: auto;
}

.rover-video {
  flex: 1;
  margin-bottom: 20px;
}

.table {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 0.8rem; /* Decreased font size */
}

.table-row {
  display: flex;
  flex-direction: row;
}

.table-cell,
.table-header {
  flex: 1;
  padding: 5px; /* Decreased padding */
  border: 1px solid #ddd;
  text-align: left;
}

.table-header {
  background-color: #f2f2f2;
  font-weight: bold;
}

.table-row:nth-child(even) .table-cell {
  background-color: #f9f9f9;
}
