.ProcedureItem {
    /* Styles for the procedure item */
    max-width: 100%; /* Ensures the div doesn't grow beyond its container */
    overflow-wrap: break-word; /* Allows long words to break and wrap onto the next line */
}

.procedureDescription {
    list-style-type: disc; /* Adds bullets to the list */
    margin-left: 20px; /* Indent the list for better readability */
    padding: 0;
    word-wrap: break-word; /* Wraps long words to the next line */
}

.procedureDescription li {
    margin-bottom: 5px; /* Space between list items */
}
